<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> mess with dns </title>
    <link rel="stylesheet" type="text/css" href="css/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="css/squiggle.css" />
    <script src="js/vue.js"></script>
    <script src="js/formulate.min.js"></script>
    <style>
        a {
            text-decoration: underline;
        }
        .formulate-input-error {
            color: red;
        }
    </style>
</head>

<body>
    <nav id="nav" class="py-8 squiggle-bottom bg-green-600 text-white" role="navigation">
        <div class="flex">
            <div class="m-auto">
                <h1 class="text-4xl">
                    ★ mess with dns ★
                </h1>
                <div class="text-right mt-2"> a <a class="underline py-2" href="https://wizardzines.com">wizard zines</a> project</div>
            </div>
        </div>
    </nav>
    <div class="flex">
        <div id="app" class="m-auto w-full pt-16 px-8" style="max-width: 1200px">
            <div v-if="domain && domain != ''">
                <h1 class="font-bold text-3xl text-center mb-8">
                    DNS records for {{ domain }}.messwithdns.com
                </h1>

                <h2 class="font-bold text-xl my-4"> Add a record </h2>

                <new-record :domain='domain' class="pl-16"> </new-record>

                <h2 class="font-bold text-xl my-8"> All DNS records </h2>
                <div v-if="records && records.length > 0">
                    <table class="w-full">
                        <tr class="bg-gray-100 border border-gray-300">
                            <th class="text-left px-4 py-2">
                                Type
                            </th>
                            <th class="text-left">
                                Content
                            </th>
                            <th class="text-left">
                                TTL
                            </th>
                            <th class="text-left">
                                &nbsp;
                            </th>
                        </tr>
                        <tbody is="record" v-for="record in records" :key="record.id" :record="record" />
                    </table>
                </div>
                <div v-else>
                    <p class="text-center">
                        No records yet! You can add one!
                    </p>
                </div>
            </div>
            <div v-else style="max-width: 500px" class="m-auto">
                <h1 class="font-bold text-3xl text-center mb-8">
                    Welcome to mess with dns!
                </h1>
                <p class="my-8 text-xl">
                    Here you can set the DNS records for any subdomain of messwithdns.com you want.
                </p>
                <div class="flex justify-center">
                    <button type="button" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg text-xl" 
                                          @click="goToRandom">
                        Get a random subdomain
                    </button>
                </div>
                <!-- existing subdomain -->
                <p class="text-center my-8 text-xl"> or go to an existing subdomain: </p>
                <div class="flex justify-center">
                    <formulate-form @submit="setDomain" class="flex">
                        <formulate-input name="domain" type="text" :placeholder="randomSubdomain()" 
                            element-class="border border-green-700 rounded-lg p-1 h-full text-xl"
                            required > </formulate-input>

                        <formulate-input 
                            type="submit" value="Go" 
                            class="ml-4 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg text-xl"></formulate-input>
                    </formulate-form>
            </div>
        </div>
    </div>
</body>

<script id="view-record" type="vue-component">
    <tbody>
        <tr class="border border-gray-200 cursor-pointer" @click="toggle()">
            <td class="px-4 py-2">
                {{ record.type }}
            </td>
            <td>
                {{ content() }}
            </td>
            <td>
                {{ record.ttl }}
            </td>
            <td class="text-right"> 
                <button class="hover:text-green-700 text-green-500 font-bold py-2 px-4 rounded">
                    Edit
                    <span v-if="clicked">
                        <svg style="transform: rotate(90deg);" fill="currentColor" class="inline w-4" aria-label="caret-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <path d="M4.488 1.85l.854-.353 6.15 6.15v.707l-6.15 6.15-.854-.354V1.85z"></path>
                        </svg>
                    </span>
                    <span v-else>
                        <svg class="inline w-4" aria-label="caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <path d="M4.488 1.85l.854-.353 6.15 6.15v.707l-6.15 6.15-.854-.354V1.85z"></path>
                        </svg>
                    </span>
                </button>
            </td>
        </tr>
        <tr class="border border-gray-200" v-if="clicked">
            <td colspan="4" class="pl-8">
                <formulate-form v-model="updated_record" class="mt-2" @submit="updateRecord">
                    <div class="flex">
                        <formulate-input class="ml-4 "
                            element-class="border border-black rounded-lg mt-2 p-1"
                            v-for="item in schemas[record.type]" 
                            :key="item.name" 
                            v-bind="item"></formulate-input>
                    </div>

                    <div class="flex text-right mt-4">
                        <button class="hover:bg-gray-400 mr-auto bg-gray-200 py-2 px-4 rounded" @click="confirmDelete()">
                            Delete
                        </button>
                        <button class="hover:bg-gray-400 bg-gray-200 py-2 px-4 rounded" @click="toggle()">
                            Cancel
                        </button>

                        <formulate-input 
                        element-class="hover:bg-green-700 ml-4 bg-green-500 text-white py-2 px-4 rounded"
                        type="submit" label="Save"></formulate-input>
                    </div>
            </formulate-form>
            </td>
        </tr>
    </tbody>
</script>

<script id="new-record" type="vue-component">
    <formulate-form @submit="createRecord" v-model="data">
        <fieldset>
            <div class="flex flex-wrap">
                <formulate-input 
                class='mr-4 mt-4'
                element-class="border border-black rounded-lg mt-2 p-1" 
                name="type" label="Type" 
                v-model="type" type="select" 
                :options="options"></formulate-input>

                <formulate-input class="mr-4 mt-4"
                element-class="border border-black rounded-lg mt-2 p-1" 
                v-for="item in schemas[type]"
                :key="item.name" v-bind="item"></formulate-input>
            </div>
        </fieldset>
        <div style="color: red" v-if="error" class="pt-2">
            {{error}}
        </div>
        <div class="flex">
        <formulate-input 
        outer-class="mr-auto mt-4"
        element-class="hover:bg-green-700  bg-green-500 text-white py-2 px-4 rounded"
        type="submit" label="Create"></formulate-input>
        </div>
    </formulate-form>
</script>

<script src="script.js"></script>

</html>
