<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> mess with dns </title>
    <link rel="stylesheet" type="text/css" href="css/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="css/squiggle.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body class="relative">
    <nav id="nav" class="py-8 squiggle-bottom bg-green-600 text-white" role="navigation">
        <div class="flex">
            <div class="m-auto">
                <h1 class="text-4xl">
                    <a href="/" class="no-underline">★ mess with dns ★</a>
                </h1>
                <div class="text-right mt-2"> a <a class="underline py-2" href="https://wizardzines.com">wizard zines</a> project</div>
            </div>
        </div>
    </nav>

    <div class="flex flex-wrap justify-start md:justify-end bg-white squiggle-top" id="app">
        <div id="experiment-time" v-if="domain && domain != ''" class="flex flex-wrap p-8 left-0 bg-white w-full">
            <div class="md:w-1/2 lg:w-2/3 w-full mb-16 pr-8 xl:pl-32 xl:pr-16">
                <h1 class="text-2xl mb-8" id="subdomain-title">
                    Your subdomain is: <br><span class="font-bold text-green-700">{{ domain }}.messwithdns.com</span>
                </h1>

                <h2 class="font-bold text-xl mt-4 add-record"> Add a record </h2>

                <new-record :domain='domain' :schemas='schemas'> </new-record>

                <h2 class="font-bold text-xl mb-4 mt-12"> All DNS records 

                        <a id="clear-records" v-if="records && records.length > 0" class="pr-4 cursor-pointer" @click="clearRecords()">
                            (clear)
                        </a>
                </h2>
                <div v-if="records && records.length > 0">
                    <table class="w-full" id="records">
                        <tr class="bg-gray-100 border border-gray-300">
                            <th class="text-left px-4 py-2">
                                Name
                            </th>
                            <th class="text-left">
                                Type
                            </th>
                            <th class="text-left">
                                Content
                            </th>
                            <th class="text-left">
                                TTL
                            </th>
                            <th class="text-left">
                                &nbsp;
                            </th>
                        </tr>
                        <tbody is="record" v-for="record in records" :key="record.id" :record="record" :domain="domain" />
                    </table>
                </div>
                <div v-else-if="records">
                    <p id="no-records-yet">
                        No records yet! You can add one!
                    </p>
                </div>
                <div v-else>
                    <p>
                        Loading...
                    </p>
                </div>

                <h2 class="font-bold text-xl mt-12 mb-8 relative"> Requests
                        <a id="clear-requests" v-if="requests && requests.length > 0" class="pr-4 cursor-pointer" 
                            @click="clearRequests()">
                            (clear)
                        </a>
                        <span v-if="websocketOpen" class="absolute left-0 top-full pl-2 text-green-700 text-sm font-normal"> updating live </span>
                </h2>
                <p class="my-4">
                    This is a list of all requests made to our authoritative DNS server for your domain.
                </p>

                <table class="w-full request-table">
                    <thead>
                        <tr>
                            <th class="text-left"> Time </th>
                            <th class="text-left"> Request source </th>
                            <th class="text-left"> Request type </th>
                            <th class="text-left"> Request name </th>
                            <th class="text-left"> Response </th>
                        </tr>
                    </thead>

                    <tbody is="view-request" v-for="request in requests" :request="request" />
                </table>
            </div>
            <experiments :domain="domain"> </experiments>
        </div>

        <div id="main" v-else class="bg-white p-8 md:w-1/2 lg:w-1/3 m-auto">
            <h1 class="font-bold text-3xl text-left mb-8">
                Welcome to mess with dns!
            </h1>
            <p class="mt-8 mb-4 text-xl">
                I think the most fun way to learn is by experimenting and
                breaking things. But experimenting with DNS can be scary -- you
                don't want to break your domain!
            </p>
            <p class="mb-8 text-xl">
                This is a playground where you can do weird DNS
                experiments and break things on a subdomain of <code>messwithdns.com</code>. Click the button below to get
                started.
            </p>
            <div class="">
                <a id="randomSubdomain" class="no-underline bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg text-xl" :href="'/#' + randomSubdomain()">
                    Get a random subdomain
                </a>
            </div>
            <!-- existing subdomain -->
            <p class="mt-12 mb-2 text-xl">
                Or go to an existing subdomain:
            </p>
            <div>
                <formulate-form @submit="setDomain" class="flex flex-wrap">
                    <formulate-input name="domain" type="text" :placeholder="randomSubdomain()" outer-class="mt-4" element-class="border
                                     border-green-700 rounded-lg p-1
                                     h-full text-xl mr-4" required>
                    </formulate-input>
                    <formulate-input type="submit" value="Go" outer-class="mt-4" class="bg-green-600
                                hover:bg-green-700 text-white font-bold
                            py-2 px-4 rounded-lg
                            text-xl"></formulate-input>
                </formulate-form>
            </div>

        </div>
    </div>
</body>

<script src="bundle.js"></script>

</html>
