a {
    text-decoration: underline;
}

.formulate-input-error {
    list-style: none;
    margin-left: -.5em;
    color: red;
}

li {
    margin: .5em 0;
    /* numbers */
}

ol li {
    list-style-type: decimal;
}

ol,
ul {
    margin-left: 1em;
}

pre {
    /* don't show scrollbar unless needed */
    overflow: auto;
    padding: .5em;
    margin: .5em 0;
    background-color: #d9f2d9;
    font-size: .8em;
}

.formulate-input input {
    width: 100%;
}

.formulate-input textarea {
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.request-table thead {
    background-color: #eee;
    border: 1px solid #ccc;
}

.request-table th {
    padding: .5em;
    font-family: monospace;
    font-size: 1rem;
}

.request-table td {
    padding: 5px .5rem;
    font-family: monospace;
    font-size: 1rem;
}

/***************** experiments */

#experiments h3 {
    font-weight: bold;
    margin: 2em 0;
    display: inline;
}

.experiment {
    position: relative;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #059669;
}

#experiments ol {
    list-style-type: decimal;
}

#experiments .category {
    top: -.8em;
    right: 2em;
    display: block; 
    position: absolute; 
    padding-left: 0.25rem;
    padding-right: 0.25rem; 
    background-color: #ffffff; 
    color: #047857; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    text-align: right; 
}

