<formulate-form name="new-record" @submit="createRecord" v-model="data" class="border border-gray-200 p-4">
  <fieldset class="flex">
      <div class="flex flex-wrap mr-auto"> <!-- this mr-auto is literally just for screenshots, not layout -->
      <formulate-input
        class="mr-4"
        outer-class="mt-4 w-40 formulate-input"
        element-class="input-border"
        name="subdomain"
        label="Name"
        validation="required"
        :validation-messages='{"required": "Example: bananas"}'
        error-behavior="submit"
        type="text"
      ></formulate-input>
      <formulate-input
        class="mr-4"
        outer-class="mt-4"
        element-class="input-border"
        name="type"
        label="Type"
        error-behavior="submit"
        v-model="type"
        type="select"
        :options="options"
      ></formulate-input>

      <formulate-input
        element-class="input-border"
        class="mr-4"
        v-for="item in schemas[type]"
        v-bind:outer-class="((item.name == 'ttl' && 'w-28') || 'w-36') + ' formulate-input mt-4'"
        error-behavior="submit"
        :key="item.name"
        v-bind="item"
      ></formulate-input>
    </div>
  </fieldset>
  <div style="color: red" v-if="error" class="pt-2 server-error">{{error}}</div>
  <div class="flex w-full">
    <formulate-input
      id="create"
      outer-class="ml-auto mt-4 create"
      type="submit"
      label="Create"
    ></formulate-input>
  </div>
</formulate-form>
