<tbody>
  <!-- desktop version -->
  <tr class="desktop hidden lg:table-row border border-gray-200" >
    <td class="px-4 py-2 view-name">
      <a :href="'http://' + displayName()" target="_blank" @click="$event.stopPropagation()">{{ displayName() }}</a>
    </td>
    <td class="px-4 py-2 view-type">{{ record.type }}</td>
    <td class="view-content overflow-hidden" style="text-overflow: ellipsis; max-width: 16em;">{{ content() }}</td>
    <td class="view-ttl">{{ record.ttl }}</td>
    <td class="view-edit text-right cursor-pointer" @click="toggle()">

              <button class="delete px-4 text-red-700 hover:text-red-500" @click="confirmDelete()">
                  Delete
              </button>
      <button class="edit hover:text-green-700 text-green-500 font-bold py-2 px-4 rounded">
        Edit
        <span v-if="clicked">
          <svg
            style="transform: rotate(90deg)"
            fill="currentColor"
            class="inline w-4"
            aria-label="caret-right"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.488 1.85l.854-.353 6.15 6.15v.707l-6.15 6.15-.854-.354V1.85z"
            ></path>
          </svg>
        </span>
        <span v-else>
          <svg class="inline w-4" aria-label="caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
              d="M4.488 1.85l.854-.353 6.15 6.15v.707l-6.15 6.15-.854-.354V1.85z"
            ></path>
          </svg>
        </span>
      </button>
    </td>
  </tr>
  <tr class="desktop hidden lg:table-row border border-gray-200" v-if="clicked">
    <td colspan="5" class="pl-4 pl-8">
      <formulate-form v-model="updated_record" class="mt-2" @submit="updateRecord">
        <div class="flex">
        <formulate-input
            element-class="input-border flex-grow"
            wrapper-class="block"
          label="Name"
          name="subdomain"
          type="text"
          ></formulate-input>
        <formulate-input
                element-class="input-border"
                class="ml-4"
                name="type"
                label="Type"
                type="select"
                :disabled="true"
                :options="[record.type]"
              ></formulate-input>


          <formulate-input
            class="ml-4"
            element-class="input-border"
            v-for="item in schemas[record.type]"
            :key="item.name"
            v-bind="item"
          ></formulate-input>
        </div>

        <div class="flex justify-end mt-4 mb-2">
          <button type="button" class="cancel text-center w-auto text-left block my-2 inline hover:bg-gray-400 bg-gray-200 py-2 px-4 rounded" @click="clicked = false" >
            Cancel
          </button>

          <formulate-input
            element-class="save block my-2 text-center w-auto text-left mr-4 hover:bg-green-700 ml-4 bg-green-500 text-white py-2 px-4 rounded"
            type="submit"
            label="Save"
          ></formulate-input>
        </div>
      </formulate-form>
    </td>
  </tr>

  <!-- tablet version -->
  <tr class="table-row lg:hidden border border-gray-200 cursor-pointer" v-if="!clicked">
      <div class="p-2 flex">
          <div class="flex-grow">
              <div>
                  <strong>Name</strong>
                  <span class="view-name">
                      <a :href="'http://' + displayName()" target="_blank"
                          @click="$event.stopPropagation()">{{ displayName() }}</a>
                  </span>
              </div>
              <div>
                  <strong>Type:</strong>
                  <span class="view-type">{{ record.type }}</span>
              </div>
              <div style="text-overflow: ellipsis; max-width: 20em; overflow: hidden;">
                  <strong>Content:</strong>
                  <span class="view-content" >{{ content() }}</span>
              </div>
              <div>
                  <strong>TTL:</strong>
                  <span class="view-ttl">{{ record.ttl }}</span>
              </div>

              <div class="delete pt-2 text-red-700 hover:text-red-500" @click="confirmDelete()">
                  Delete
              </div>
          </div>
          <div class="flex flex-col justify-between">
              <div class="view-edit text-left" @click="toggle()">
                  <button class="edit hover:text-green-500 text-base text-green-700 font-bold py-2 px-4 rounded">
                      Edit
                  </button>
              </div>
          </div>
      </div>
  </tr>

  <tr class="lg:hidden table-row border border-gray-200" v-if="clicked">
      <td colspan="5">
          <div class="p-2">
              <formulate-form v-model="updated_record" class="mt-2" @submit="updateRecord">
                  <!-- basis is because of https://stackoverflow.com/questions/43123117/select-element-grows-differently-than-input-in-display-flex/43123479 -->
                  <formulate-input element-class="input-border flex-grow shrink basis-0" label-class="w-24 text-right font-bold" wrapper-class="flex flex-row justify-end items-center" label="Name " name="subdomain" type="text"></formulate-input>
                  <formulate-input element-class="input-border flex-grow shrink basis-0" label-class="w-24 text-right font-bold" wrapper-class="mt-2 flex flex-row justify-end items-center" name="type" label="Type" type="select" :disabled="true" :options="[record.type]"></formulate-input>
                  <formulate-input element-class="input-border flex-grow shrink basis-0" label-class="w-24 text-right font-bold" wrapper-class="mt-2 flex flex-row justify-end items-center" v-for="item in schemas[record.type]" :key="item.name" v-bind="item"></formulate-input>
                  <div class="flex justify-end mt-4">
                      <button type="button" class="cancel mr-4 text-center block my-2 hover:bg-gray-400 bg-gray-200 py-2 px-4 rounded" @click="clicked = false">
                          Cancel
                      </button>

                      <formulate-input element-class="save block my-2 text-center  hover:bg-green-700 bg-green-500 text-white py-2 px-4 rounded" type="submit" label="Save"></formulate-input>
                  </div>
              </formulate-form>
          </div>
      </td>
  </tr>
</tbody>
