<tbody>
    <!-- desktop -->
    <tr class="py-2 lg:py-0 flex flex-col lg:table-row border-t border-b border-gray-200 font-mono text-sm">
        <td class="lg:px-2 lg:py-4">
            {{ localTime(request.created_at) }}
        </td>
        <td class="lg:px-2 lg:py-4">
            <strong class="inline lg:hidden">Request:</strong>
            <div class="border-l-4 pl-4 mb-4 border-green-200">
                Name: <span class="request-name">{{request.request.Question[0].Name}}</span> <br>
                Type: {{rrTypesReverse[request.request.Question[0].Qtype]}} <br>
                From: <span class="request-host">{{request.src_host}}</span>
            </div>
        </td>
        <td class="lg:px-2 lg:py-4 request-response align-top">
            <strong class="inline lg:hidden">Response:<br></strong>  
            Code: {{rcodes[request.response.Rcode.toString()]}} <br>
            Records: <span v-if="!request.response.Answer || request.response.Answer.length == 0">none</span> <br>
            <div class="border-l-4 pl-4 mb-4 border-pink-200" v-for="answer in request.response.Answer">
                Type: {{rrTypesReverse[answer.Hdr.Rrtype]}} <br>
                TTL: {{answer.Hdr.Ttl}} <br>
                Content: {{formatContent(answer)}}
            </div>
        </td>
    </tr>
</tbody>

