<tbody>
    <!-- desktop -->
    <tr class="py-2 lg:py-0 flex flex-col lg:table-row border-t border-b border-gray-200 font-mono text-sm">
        <td class="lg:px-2 lg:py-4">
            {{ localTime(log.created_at) }}
        </td>
        <td class="lg:px-2 lg:py-4">
            <strong class="inline lg:hidden">Request:</strong>
            <div class="border-l-4 pl-4 mb-4 border-green-200">
                Name: <span class="request-name">{{log.request.name}}</span> <br>
                Type: {{log.request.type}} <br>
                From: <span class="request-host">{{log.request.src_host}} ({{log.request.src_ip}})</span>
            </div>
        </td>
        <td class="lg:px-2 lg:py-4 request-response align-top">
            <strong class="inline lg:hidden">Response:<br></strong>  
            <div class="border-l-4 pl-4 mb-4 border-gray-200">
            Code: {{log.response.code}} <br>
            </div>
            <div class="border-l-4 pl-4 mb-4 border-gray-200" v-if="!log.response.records || log.response.records.length == 0">
                (no records)
            </div>
            <div class="border-l-4 pl-4 mb-4 border-pink-200" v-for="record in log.response.records">
                Type: {{record.type}} <br>
                TTL: {{record.ttl}} <br>
                Content: {{record.content}}
            </div>
        </td>
    </tr>
</tbody>

